@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*** @type {import('tailwindcss').Config} */
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Borel&family=Chicle&family=Funnel+Display:wght@300..800&family=Grenze+Gotisch:wght@100..900&family=Pirata+One&family=Playwrite+CU+Guides&family=Yusei+Magic&display=swap');
@import 'tailwindcss';


@font-face {
  font-family: 'menuTitle';
  src: url('https://cdn.prod.website-files.com/6549128db41d15ae06784cbc/65491a8b3e9c55cf79884d3c_apercu-bold.woff2');
}

@layer utilities {
  .font-fun {
    font-family: 'Yusei Magic', sans-serif;
  }
}


/* 
.customeTextStyle {
    text-shadow: 4px 3px 0px rgb(40, 39, 39);
    -webkit-text-stroke: 0.7px black; 
    -webkit-text-fill-color: yellow;
}

.customeTextStyle2 {
    -webkit-text-stroke: 0.7px black; 
    -webkit-text-fill-color: yellow;
} */

.navbar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     /* margin: 15px; */
     padding: 10px 30px;
     border-radius: 0.5rem;
     box-shadow: 0.5px 1px 0  #000;
     border: 1px solid black;
     opacity: 0;
     animation: navbarFadeIn 1s ease forwards;
}

@keyframes navbarFadeIn {
     0% {
          opacity: 0;
     }
     
     100% {
          opacity: 1;
     }
}

.logo > h1 {
     color:  darkred;    
     font-size: 1.6rem;
     font-weight: 500;
     font-family: monospace ;
     transition: all 0.3s ease;
     animation: float 3s ease-in-out infinite;
     cursor: pointer;
     user-select: none;
     text-shadow:
          1.5px 1.5px 0px rgb(27, 6, 125),
          -3px 3px 15px rgba(0, 0, 0, 0.5)
          ;
     -webkit-user-drag: none;
     letter-spacing: 2px;
}

@keyframes float {
     0% {
          transform: translateY(0px);
     }

     50% {
          transform: translateY(-2px);
     }

     100% {
          transform: translateY(0px);
     }
}


input {
     width: 300px;
     margin: 2px;
     padding: 0.875rem;
     padding-left: 35px;
     padding-right: 25px;
     font-size: 1rem;
     border: 1.5px solid #000;
     border-radius: 0.5rem;
     box-shadow: 1px 1.5px 0 #000;
     outline: none;
     transition: ease 0.25s;
     color: red;
}


input::placeholder {
     color: black;
     font-weight: 500;
     opacity: 0.8;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     letter-spacing: 1px;
     word-spacing: 1.5px;
     text-align: center;
}

/* Navbar Section - Menu Icon */

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 2.5em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
  transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* CategoryTabs Section */

.category-container {
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.category-tab:hover {
  border-color: #dc2626;
  color: #dc2626;
  transform: scale(1);
  box-shadow: 0 5px 12px rgba(191, 45, 45, 0.2);
}

.category-tab .icon {
  font-size: 1rem;
}

.category-tab.active {
  background: linear-gradient(to right, #dc2626, #ef4444);
  color: white;
  border: none;
  box-shadow: 0 5px 15px rgba(201, 98, 98, 0.3);
}